﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="AboutUs.aspx.cs" Inherits="AboutUs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<div id="heading" >
		<h1>ABOUT US</h1>
    </div>
    <section id="main" class="wrapper">
    <div class="inner">
			<div class="content">
                    <center>
                    <form id="result">
                        <br />
                        <br />
                        <br />
                        <br />
                        <h3>   
            Audition Magic has a time tested Dance Audition System for auditioning aspiring artistes from different dance disciplines for the purpose of their performance online. 
            The artistes are evaluated by the Judges/ Experts and those who clear the audition are awarded points based on their performance.
             It offers communication, talent submission, scheduling, audition management and secure video sharing.
             </h3>
              <br /> 
              <br />
                        <br />
                        <br />
                        <br />
                      </form>
                   </center>
                </div>
        </div> 
        </section>
</asp:Content>

