﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Contact.aspx.cs" Inherits="Contact" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div id="heading" >
				<h1>Contact Us: </h1>
    </div>
    <section id="main" class="wrapper">
                    <div class="inner">
			        <div class="content">
                    <center>
                    <form id="contact">
                    <br />
                    <br />
                    <h2>Address:</h2>
                    <br />
                    145, Perry Rd, Bandra West, Mumbai, Maharashtra 400050
                    <br />
                    <br />
                    <br />
                    <h2>Contact no:</h2>
                    <br />
                    Tasu Poonawala:9874563210<br />
                    Himanshu Shingvi:7896541230
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    </form>
                    </center>
                    </div>
                    </div>
                    </section>>
</asp:Content>

