﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AdminDashboard.master" AutoEventWireup="true" CodeFile="DeclareResults.aspx.cs" Inherits="DeclareResults" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<center>
<form id="declareresult" runat="server"> 
    <br />
    <br />
    <asp:Label ID="lbl" Text=" " runat="server"></asp:Label>
    <br />
    <br />
    <asp:Button ID="btn_declare" Text="Declare Results" runat="server" 
        onclick="btn_declare_Click"/>
    <br />
    <br />
    <br />
</form>
</center>
</asp:Content>

