﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Results.aspx.cs" Inherits="Results" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="heading" >
		<h1>RESULTS</h1>
    </div>
    <section id="main" class="wrapper">
    <div class="inner">
			<div class="content">
                    <center>
                    <form id="result">
                    <br />
                    <br />
                    <asp:Label ID="lbl" runat="server" Text="Results will be declared on:" Font-Bold="True"></asp:Label>
                    <asp:Label ID="declaredate" runat="server" Text="" Font-Bold="true" ForeColor="Red"></asp:Label>
                    <br />
                    <asp:GridView ID="GridView2" runat="server">
                    </asp:GridView>
                    <br />
                    <asp:Button Id="pdf" Text="Generate Pdf" runat="server" Width="400px" 
                        onclick="pdf_Click"/>
                    <asp:GridView ID="GridView1" OnPageIndexChanging="OnPageIndexChanging" runat="server"></asp:GridView>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br /> 
                      </form>
                   </center>
                </div>
        </div> 
        </section>
</asp:Content>

